.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.calendar {
  text-align: center;
  padding: 3%;
  margin: 0vw auto;
  width: 90%;
}
.calendar ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  list-style: none;
  margin: 0%;
  padding: 0%;
}
.calendar ol li {
  font-size: 1.5ch;
}
.primero {
  color: red;
}

.anter {
  color: gray;
  opacity: 0.5;
}
.otro {
  position: relative;
}

.otro::after {
  content: '.';
  position: absolute;
  color: navy;
}

.tarea {
  background-color: orange;
  color: var(--b);
  font-weight: 700;
  position: relative;
}

.examen {
  background-color: #ff4242;
  color: var(--b);
  font-weight: 700;
  position: relative;
}
.examen.tarea {
  background-color: red;
  position: relative;
}
.examen.tarea::before {
  position: absolute;
  content: 'x2';
  top: 0;
  left: 0%;
  font-size: 0.5rem;
}
