.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.calendar {
  text-align: center;
  padding: 3%;
  width: 100%;
  margin: 1vh auto;
}
.calendar h2 {
  border: 1px solid var(--v);
  border-bottom: 0px solid var(--a);
  width: fit-content;
  padding: 0 3px;
  margin: 0 auto;
  border-radius:10px 10px 0px 0px;
}
.calendar ol {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--v);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  column-gap: 3px;
  list-style: none;
  margin: 0;
  padding: 3px 0;
}
.calendar ol li {
  border-radius: 5px;
  font-size: 1.5ch;
}
.primero {
  color: red;
}

.anter {
  color: gray;
  opacity: 0.3;
}

.otro {
  position: relative;
}

.otro::after {
  content: '.';
  position: absolute;
  color: var(--n);
}

.tarea {
  background-color: orange;
  font-weight: 700;
  position: relative;
}

.examen {
  background-color: #ff4242;
  font-weight: 700;
  position: relative;
}
.examen.tarea {
  background-color: red;
  position: relative;
}
.examen.tarea::before {
  position: absolute;
  content: 'x2';
  top: 0;
  left: 0;
  font-size: 0.5rem;
  color: var(--b);
}
