* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root {
  --n: #071013;
  --b: #fcfafa;
  --v: #0cca4a;
  --a: #23b5d3;
}
li,
ol {
  list-style: none;
}
a,
a:link {
  color: inherit;
  text-decoration: none;
}
