.all {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.all header {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: var(--b);
  z-index: 99;
  height: 7vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.all header .butop {
  position: absolute;
  top: 0%;
  left: 0%;
  border: none;
  background-color: var(--n);
  color: var(--b);
  font-weight: 900;
  width: 10vw;
  height: 100%;
  z-index: 3;
}
.all header h1 span {
  color: var(--a);
}
.container {
  margin-top: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0% 10px;
}

/*si no estás logeado*/
.nolog {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nolog button {
  width: fit-content;
  padding: 10px;
  color: var(--b);
  background-color: var(--n);
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin: 1vh 0;
}
.nolog button:hover {
  background-color: var(--a);
}
